<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">
      we have some new Service to pamper you
    </p>
    <div class="swiper insight__slider">
      <div class="insight__slider-btns slider-btns ">
        <div class="slider-btn insight__slider-btns--prev">
          <svg
            width="8"
            height="18"
            viewBox="0 0 8 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.64465 2.63401L2.9309 7.34776L7.64465 12.0615C8.11845 12.5353 8.11845 13.3007 7.64465 13.7745C7.17084 14.2483 6.40547 14.2483 5.93166 13.7745L0.355353 8.19818C-0.118451 7.72437 -0.118451 6.959 0.355353 6.48519L5.93166 0.908881C6.40547 0.435077 7.17084 0.435077 7.64465 0.908881C8.1063 1.38269 8.11845 2.16021 7.64465 2.63401Z"
              fill="#5E7288"
            />
          </svg>
        </div>
        <div class="slider-btn insight__slider-btns--next">
          <svg
            width="8"
            height="18"
            viewBox="0 0 8 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.355353 2.63401L5.0691 7.34776L0.355353 12.0615C-0.118451 12.5353 -0.118451 13.3007 0.355353 13.7745C0.829157 14.2483 1.59453 14.2483 2.06834 13.7745L7.64465 8.19818C8.11845 7.72437 8.11845 6.959 7.64465 6.48519L2.06834 0.908881C1.59453 0.435077 0.829157 0.435077 0.355353 0.908881C-0.106302 1.38269 -0.118451 2.16021 0.355353 2.63401Z"
              fill="#5E7288"
            />
          </svg>
        </div>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insigth__article-img"
            src="./assets/images/insight-slide-img-1.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insigth__article-img"
            src="./assets/images/insight-slide-img-2.jpg"
            width="582"
            height="332"
            alt="Man typing on"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insigth__article-img"
            src="./assets/images/insight-slide-img-1.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and wrting on a notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            loading="lazy"
            class="insigth__article-img"
            src="./assets/images/insight-slide-img-2.jpg"
            width="582"
            height="332"
            alt="Man typing on"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
