.slider {
  &-btns {
    @include flex-all-between;
    z-index: var(--z-index-2);
    border-radius: 50%;
    padding: 0 10px;
    width: 80px;
    height: 80px;
    background-color: #fff;
  }

  &-btn {
    @include flex-all-center;
    width: 30px;
    height: 50px;
    cursor: pointer;
  }

}

